<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCD-URL-SHORTNER</title>
</head>

<body>
    <form action="/post" method="post">
        <input type="text" name="longUrl" placeholder="Enter the long URL">
        <input type="submit" value="SHORTEN">

    </form>
</body>

</html>